* {
    font-family: 'Open Sans', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    width: 200px;
    color: white;
    background-color: #f55c47;
}

li a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 8px 4px;
}

li a:hover {
    color: #000;;
    background-color: #f55c47;
}