* {
    font-family: 'Open Sans', sans-serif;
}

.center ,h1, h3, p, ul li {
    text-align: center;
}

.center {
    list-style-type: none;
}

.center li {
    display: inline;
    padding: 16px;
    position: relative;
}

ul li {
    list-style-position: inside;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: silver;
}
